<!DOCTYPE HTML>
<html>
<head>
    <title>Index Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="textTask" placeholder="Введите задание" />
        <!--<input type="text" name="deadline" placeholder="deadline" />-->
        <input type="date" id="deadline" name="deadline" class="form-control form-control-sm"
               placeholder="YYYY-MM-DD">
        <button type="submit">Добавить</button>
    </form>
</div>

<p>Get your greeting <a href="/greeting">here</a></p>
</body>
</html>