<!DOCTYPE HTML>
<html>
<body>
<div>Список заданий</div>
</form>
{{#tasks}}
    <div>
        <span>{{textTask}}</span>
        <i>{{deadline}}</i>
    </div>
{{/tasks}}
<p>Get your greeting <a href="/">here</a></p>
</body>
</html>